.cart-product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  margin: 20px;
  margin-left: 40px;
}

.minus-button {
  background-color: white;
  width: 25px;
  border-color: white;
  color: rgb(75 85 99);
}

.minus-button:hover {
  background-color: rgb(192, 192, 192);
}

.plus-button {
  background-color: white;
  width: 25px;
  border-color: white;
  color: rgb(75 85 99);
}

.plus-button:hover {
  background-color: rgb(192, 192, 192);
}

.cart-product-img {
  width: 200px;
  margin-right: 600px;
}

.cart-card-body {
  padding: 0%;
  height: 25vh;
  overflow: auto;
}

.item-cart-card {
  background-color: white;
  max-height: fit-content;
  max-width: 80rem;
  margin: 40px;
  overflow: auto;
}

.product-card-title {
  font-size: 30px;
  margin-right: 600px;
}

.product-price {
  font-size: 40px;
  margin-right: 600px;
}

.product-features {
  font-size: 22px;
  padding: 0px 15px 0px 15px;
  width: fit-content;
}

.toggle_option {
  font-size: 30px;
}

a {
  margin-left: 30px;
  color: black;
  font-size: 25px;
  text-decoration: underline;
}

a:hover {
  color: rgb(154, 154, 154);
  cursor: pointer;
}
